/* button 10 */
/* #24 */

/* button 9 */
/* #23 */
.button-9 {
    border: 2px solid tomato;
    color: tomato;
    padding: 20px 40px;
    font-size: 25px;
    text-transform: uppercase;
    /* cursor: pointer; */
    transition: all 0.5s;
    position: relative;
    color: tomato;
    overflow: hidden;
}
.button-9:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: tomato;
    z-index: -1;
    border-radius: 0 0 50% 50%;
    height: 0%;
    transition: all 0.5s;
}
.button-9:hover:before {
    height: 190%;
}
.button-9:hover {
    color: white;
}

/* button 8 */
/* #22 */

/* button 7 */
/* #21 */

/* button 6 */
.button-6 {
    font-size: 40px;
    border: 3px solid black;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
}
.button-6:hover {
    background-color: #F44336;
}
.button-6:before {
    content: '';
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    position: absolute;
    transform: translatex(-100%) rotate(45deg);
    transition: all 0.3s;
}
.button-6:hover:before {
    transform: translateX(100%) rotate(45deg);
}

/* button 5 */
.button-5 {
    font-size: 40px;
    line-height: 40px;
    border: 4px solid #222;
    overflow: hidden;
    position: relative;
}
.button-5:before {
    content: 'YEAH!';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: #F44336;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: 300ms;   
}
.button-5:hover:before {
    transform: translateY(0);
}

/* button 4 */
.button-4 {
    color: #E1332D;
    font-size: 40px;
    font-family: 'roboto' sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: -2px;
    border: 3px solid #E1332D;
    position: relative;
    transition: 300ms;
}
.button-4:hover {
    font-weight: 900;
    letter-spacing: 10px;
    border: 7px solid #E1332D;
}

/* button 3 */
.button-3 {
    color: #262626;
    font-size: 45px;
    letter-spacing: 2px;
    border: 3px solid #262626;
    position: relative;
    transition: 500ms;
    text-align: center;
    overflow: hidden;
}
.button-3:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 100%;
    background-color: #262626;
    transition: 500ms;
    transform: rotateX(90deg);
    z-index: -1;
}
.button-3:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #262626;
    transition: 500ms;
    transform: rotateY(90deg);
    z-index: -1;
}
.button-3:hover:before {
    transform: rotateX(0deg);
}
.button-3:hover:after {
    transform: rotateY(40deg);
}
.button-3:hover {
    color: white;
}

/* button 2 */
.button-2 {
    color: #351435;
    font-size: 40px;
    border: 3px solid #351435;
    /* padding: 40px 80px; */
    transition: all 200ms;
    overflow: hidden;
}
.button-2:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #351435;
    z-index: -1;
    transform: translateX(-100%);
    transition: transform 100ms ease;
}
.button-2:hover {
    color: white;
}
.button-2:hover:before {
    transform: translateX(0%);
}

/* button 1 */
.button-1 {
    color: #272727;
    font-size: 45px;
    border: 5px solid #272727;
    /* padding: 40px 80px; */
    /* position: relative; */
    overflow: hidden;
}
.button-1:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #FFF200;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    transition: transform 150ms ease-out;
}
.button-1:hover:before {
    transform: rotate(0deg);
}